<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.hamzajirah.youthmobileprep"
		versionCode="10"
		version   = "1.0.0">
	<name>
		YouthMobile Prep
	</name>
	<description>
		Help people aspiring to learn the basics of HTML, CSS and JavaScript for Mobile/Web development.		
	</description>
	<author href="" email="hamzajirah@gmail.com">
		Jirah Hamza Ibrahim
	</author>
	<icon src="icon.png" />
</widget>